@charset "UTF-8";

body{
    height: 100vh;
   /* background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    /* Shorthand - background color > image > position > repeat > [size] > attachment */

    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover; 
}

main{
    background-color: white;
    border: 1px solid darkblue;
    max-width: 400px;
    padding: 11px;
    margin: auto;
}