@charset "UTF-8";
* {
    /*height: 100%;*/
    font-family: Helvetica, sans-serif;
}

p {
    text-align: left;
    color: rgb(236, 246, 255);
}

body {
    background-image: linear-gradient(to bottom, #01294d 27%, #027333, #00ad3d, #00e439);
    background-attachment: fixed;
}

main {
    background-color: #03315a;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgb(0, 18, 66);
    width: 600px;
    padding: 23px;
    margin: auto;
}

h1 {
    color: lime;
    text-align: left;
    text-shadow: 1px 1px 2px rgb(0, 104, 0);
}

h2 {
    color: white;
}